/* src/index.css */
body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
